@import url(//fonts.googleapis.com/earlyaccess/cwtexkai.css);
@charset "UTF-8";


@font-face { 
	font-family: BopomofoRuby;
	src: url(BopomofoRuby1909-v1-Regular.ttf);
}

 idiv {display:inline-block;}
.idiv {display:inline-block;} /* safari 15.6.1 */


.dummy2 
{line -height:1;font-size: 3em;font-family: BopomofoRuby, 'cwTeXKai','AR KaiB5', 'KaiTi TW', 'BiauKai';
	&>idiv { margin:0.05em; line-height:1.15; }
	& ruby { line-height:1.15; }
	& rt, & [data-after]::after
	{
		font-family:BopomofoRuby;
		text-orientation: upright;
		min-width:1em;
		font-size:26%;
		text-align:center;	/* chrome */
	}
}

.dummy2 /* safari 15.6.1 */
{line -height:1;font-size: 3em;font-family: BopomofoRuby, 'cwTeXKai','AR KaiB5', 'KaiTi TW', 'BiauKai';
	&>div.idiv { margin:0.05em; line-height:1.15; }
	& ruby { line-height:1.15; }
	& rt, & [data-after]::after
	{
		font-family:BopomofoRuby;
		text-orientation: upright;
		min-width:1em;
		font-size:26%;
		text-align:center;	/* chrome */
	}
}

 @media (max-width: 768px) {
	 .dummy2 
		{line -height:1;font-size: 2em;font-family: BopomofoRuby, 'cwTeXKai','AR KaiB5', 'KaiTi TW', 'BiauKai';
			&>idiv { margin:0.05em; line-height:1.15; }
			& ruby { line-height:1.15; }
			& rt, & [data-after]::after
			{
				font-family:BopomofoRuby;
				text-orientation: upright;
				min-width:1em;
				font-size:26%;
				text-align:center;	/* chrome */
			}
		}
 }

 @media (max-width: 768px) { /* safari 15.6.1 */
	 .dummy2 
		{line -height:1;font-size: 2em;font-family: BopomofoRuby, 'cwTeXKai','AR KaiB5', 'KaiTi TW', 'BiauKai';
			&>div.idiv { margin:0.05em; line-height:1.15; }
			& ruby { line-height:1.15; }
			& rt, & [data-after]::after
			{
				font-family:BopomofoRuby;
				text-orientation: upright;
				min-width:1em;
				font-size:26%;
				text-align:center;	/* chrome */
			}
		}
 }

.tb { writing-mode:tb-rl; width:100%; }
.tb idiv { margin-left:0.4em; line-height:1.15; }
.tb .idiv { margin-left:0.4em; line-height:1.15; } /* safari 15.6.1 */
.lr {writing-mode:lr-tb;}
.lr idiv { margin-bottom:0.2em; }
.lr .idiv { margin-bottom:0.2em; } /* safari 15.6.1 */

/* 豎標 */
.v 
{
	& idiv, &.after [data-after] { height:1em; margin-right:0.4em; }
	& ruby, & [data-after]::after {
	writing-mode:vertical-lr;
	}
	&.after [data-after]::after
	{top:0;right:-1.1em;height:3.85em;}
	& rt { letter-spacing:0; }
}

.v  /* safari 15.6.1 */
{
	& .idiv, &.after [data-after] { height:1em; margin-right:0.4em; }
	& ruby, & [data-after]::after {
	writing-mode:vertical-lr;
	}
	&.after [data-after]::after
	{top:0;right:-1.1em;height:3.85em;}
	& rt { letter-spacing:0; }
}

.lr.v.after idiv {line-height:0.85;}
.lr.v.after .idiv {line-height:0.85;} /* safari 15.6.1 */



/* 橫標 */
.h
{
  font-variant-east-asian:"salt";
  font-feature-settings: "salt";
	& idiv { width:1e m; margin-top:0.3em; }
	& ruby, & [data-after]::after { writing-mode:lr-tb; background-position-y:0.1em; }
	& ruby>rt { letter- spacing:-0.4em;  }
	/* .lr.h ruby { line-height: 1.1;  } */
}


.after [data-after] {position:relative;}
.after [data-after]::after
{ content:attr(data-after); position:absolute; text-align:center; font-size:26%; color:#888; }

.h.after [data-after]
{ margin-top:0.5em; }
.h.after [data-after]::after
{ top:-0.45em; left:0; width:3.85em; letter- spacing:-0.4em; }
.lr.h.after [data-after]::after { top:-0.45em; }
.tb.h.after [data-after]::after { top:-1em; }

/*  */



 label { border:1px dashed #888; padding:2px; line-height:200%; font-family:標楷體; white-space:nowrap; }
 label:hover { background:#ffc; }
 label:checked, input[type="radio"]:checked { color:red; }
  
 textarea { width:100%; }
 ol>li { padding:2px; }
 ol>li:hover { border:1px solid blue; padding:1px; }

#phonA { max-height:95vh; overflow:auto; }

/* 教育部國小字典採用的格式 */
ruby {
    align-items: center;
    display: inline-flex;
    line-height: 1;
    min-height: 1em;
}
ruby.en {
    font-family: "Times New Roman", Times;
    font-size: 0.8em;
}
ruby rt {
    display: block;
    color:#888;
    font-family: "BopomofoRuby", "cwTeXKai", "標楷體", "BiauKai", "DFKai-sb", "TWKai", "Microsoft JhengHei";
    font-size: 30%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    padding-left: 0.1em;
    position: relative;
    -webkit-text-orientation: upright;
            text-orientation: upright;
    writing-mode: vertical-lr;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 1.5em;
}
ruby rt:empty {
    display: none;
}

.ruby-tmdot {
    height: 1em;
    display: inline-block;
    margin-top: -0.8em;
}

@-moz-document url-prefix() {
    .ruby-tm {
        display: block;
        line-height: 1;
        position: absolute;
        right: -0.35em;
        bottom: 0.6em;
        writing-mode: horizontal-tb;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    ruby {
        margin-right: 0;
    }
    ruby rt {
        font-size: 29%;
        text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
        top: -0.25em;
    }

    .ruby-tm {
        display: block;
        line-height: 1;
        position: absolute;
        right: -0.35em;
        bottom: 0.6em;
        writing-mode: horizontal-tb;
    }

    .ruby-tmdot {
        height: auto;
        margin-top: 0;
    }
}
@supports (-ms-ime-align: auto) {
    ruby {
        margin-right: 0;
    }
    ruby rt {
        font-size: 29%;
        text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
        top: 0.15em;
    }

    .ruby-tm {
        display: block;
        line-height: 1;
        position: absolute;
        right: -0.35em;
        bottom: 0.6em;
        writing-mode: horizontal-tb;
    }

    .ruby-tmdot {
        height: auto;
        margin-top: 0;
    }
}